/* Hack Nerd Font - 支持 Powerline 符号和图标 */
@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/Hack-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
